::-webkit-scrollbar {
  width: 10px;
  background: hsl(0, 0%, 26%);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  height: 150px;
  background: hsl(0, 0%, 40%);
}

.page-enter-active, .page-leave-active {
  transition: all .1s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

/* overrides */

.v-card__title {
  word-break: normal !important;
}

.details.nuxt-content {
  text-align: justify;
}

.details.nuxt-content > ul {
  margin-bottom: 1rem;
}
.details.nuxt-content > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
